body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}
.heading {
    width: 70%;
}

#game-title {
    font-family: 'Prompt', sans-serif;
    font-size: 80px;
    text-align: center;
}

.main {
    display: flex;
    margin: 20px;
}

#form-inputs {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input[type="number"] {
    font-size: 40px;
    text-align: center;
}

.box {
    margin: 20px;
    width: 100px;
    height: 100px;
}

#submit-guess-btn {
    width: 150px;
    padding: 5px;
    font-size: 20px;
    background-color:yellow;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#gamelog {
    width: 30%;
    font-size: 20px;
    border: solid white 5px;
    padding: 15px;
}

#gameboard {
    width: 70%;
}

button {
    width: 150px;
    padding: 5px;
    font-size: 20px;
    background-color:yellow;
}

 .gameover, .winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
 }

 .gameover-title, .win-title {
     font-size: 50px;
 }

 .dot {
    height: 25px;
    width: 25px;
    margin: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .red {
    background-color: red;
  }

  .white {
    background-color: white;
  }