{% extends 'base.html' %}
{% block title %}Mastermind{% endblock %}

{% block body %}
  <div class="heading">
    <h1 id="game-title">MASTERMIND</h1>
  </div>

  <div class="main">
    <div id="gameboard">
      <form id="user-guess-form">
        <div id="form-inputs">
          <div>
            <label>
              <input id="num-input1" class="box" type="number" min="0" max="7">
            </label>
          </div>

          <div>
            <label>
              <input id="num-input2" class="box" type="number" min="0" max="7">
            </label>
          </div>

          <div>
            <label>
              <input id="num-input3" class="box" type="number" min="0" max="7">
            </label>
          </div>

          <div>
            <label>
              <input id="num-input4" class="box" type="number" min="0" max="7">
            </label>
          </div>
        </div>

        <div id="btn-container">
          <button id="submit-guess-btn">Submit Guess</button>
        </div>
      </form>
    </div>

    <div id="gamelog">
      <h2 id="gamelog-title">Feedback Log</h2>
      <h4>Number of guesses remaining: <span id="guesses-left"></span></h4>
      <p><span class="dot red"></span> = a correct number in the correct location</p>
      <p><span class="dot white"></span> = a correct number in the wrong location</p>
    </div>

  </div>

{% endblock %}

{% block script%}
  <script>
    const button = document.querySelector('#submit-guess-btn');
    const secret_code = JSON.parse('{{ hidden_code | tojson }}');
    let guess_count = 0;
    let guesses_left;
    let wins = 0;
    let losses = 0;

    // document.querySelector('#gamelog').insertAdjacentHTML('beforeend', `<p>${secret_code}</p>`);

    button.addEventListener('click', evt => {
      evt.preventDefault();
      guess_count+=1;

      const formInputs = {
        num1: document.querySelector('#num-input1').value,
        num2: document.querySelector('#num-input2').value,
        num3: document.querySelector('#num-input3').value,
        num4: document.querySelector('#num-input4').value,
        hidden_code: secret_code
      };

      // send form input values to server to apply game logic
      fetch('/mastermind/guess', {
        method: 'POST',
        body: JSON.stringify(formInputs),
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => response.json())
        .then(responseJson => {
          // handle correct guess
          if (responseJson.won){
            document.querySelector('#gameboard').insertAdjacentHTML('afterbegin', `<div class="winner">
                                                                                  <h1 class="win-title">YOU WIN!</h1>
                                                                                  <p>Secret Code: ${secret_code}</p>
                                                                                  <a href="/">
                                                                                    <button type="submit">New Game</button>
                                                                                    </a>
                                                                                  <div>`);
            document.querySelector('#user-guess-form').style.display = 'none';
            for (let i = 0; i < responseJson.num_correct_loc; i++) {
              document.querySelector(`.dot-feedback${guess_count}`).insertAdjacentHTML('beforeend', '<span class="dot red"></span>');
            }
          } else {

            // using response append feedback to the page
            document.querySelector('#gamelog').insertAdjacentHTML('beforeend', 
                                                                  `<p>Guess #${guess_count}: ${formInputs.num1} ${formInputs.num2} 
                                                                    ${formInputs.num3} ${formInputs.num4}</p>
                                                                  <div class="dot-feedback${guess_count}"></div><br>`);
            // color code dots for feedback 
            for (let i = 0; i < responseJson.num_correct_loc; i++) {
              document.querySelector(`.dot-feedback${guess_count}`).insertAdjacentHTML('beforeend', '<span class="dot red"></span>');
            }

            // of the num correct, subtract the number in correct locations in order to not double count correct nums
            let remaining_correct = responseJson.num_correct-responseJson.num_correct_loc;

            for (let i = 0; i < remaining_correct; i++) {
              document.querySelector(`.dot-feedback${guess_count}`).insertAdjacentHTML('beforeend', '<span class="dot white"></span>');
            }
          }
          
        });

        // keeping track of remaining guesses
        guesses_left= 10 - guess_count;
        document.querySelector('#guesses-left').innerHTML = guesses_left;

        // handling end of game after 10 guesses
        if(guess_count === 10){
          document.querySelector('#gameboard').insertAdjacentHTML('afterbegin', `<div class="gameover">
                                                                                  <h1 class="gameover-title">Game Over!</h1>
                                                                                  <p>Secret Code: ${secret_code}</p>
                                                                                  <a href="/">
                                                                                    <button type="submit">New Game</button>
                                                                                    </a>
                                                                                  <div>`);
          document.querySelector('#user-guess-form').style.display = 'none';
        }

    });

  </script>
{% endblock %}