{% extends 'base.html' %}
{% block title %}Mastermind{% endblock %}

{% block body %}
  <div class="heading">
    <h1 id="game-title">MASTERMIND</h1>
  </div>

  <div class="main">
    <div id="gameboard">
      <form id="user-guess-form">
        <div id="form-inputs">
          <div>
            <label>
              <input id="num-input1" class="box" type="number" min="0" max="7">
            </label>
          </div>

          <div>
            <label>
              <input id="num-input2" class="box" type="number" min="0" max="7">
            </label>
          </div>

          <div>
            <label>
              <input id="num-input3" class="box" type="number" min="0" max="7">
            </label>
          </div>

          <div>
            <label>
              <input id="num-input4" class="box" type="number" min="0" max="7">
            </label>
          </div>
        </div>

        <div id="btn-container">
          <button id="submit-guess-btn">Submit Guess</button>
        </div>
      </form>
    </div>

    <div id="gamelog">
      <h2 id="gamelog-title">Feedback Log</h2>
      <h4>Number of guesses remaining: <span id="guesses-left"></span></h4>
      <p><span class="dot red"></span> = a correct number in the correct location</p>
      <p><span class="dot white"></span> = a correct number in the wrong location</p>
    </div>

  </div>

{% endblock %}


{% block script %}
<script>   
  {% include 'gameplay.js' %}
</script>
{% endblock %}